.caixaTexto {
    margin:20px 10px;
    display:inline-block; 
    
    padding:0 20px;
    animation-name: aparecer;
    animation-duration: 2s;
    
} 

.biografia{
display: grid;
grid-template-columns:1fr 4fr;
gap: 10px;
padding: 20px;
}
.autor {

display:inline-block;
animation-name:deslizar;
animation-duration: 2s;
}
.autor h1 {
    text-align: center;
}
.perfil{
display: block;
margin:0 auto;
padding: 0;
border:solid 15px blue;
width:100%;
}
.inputs{
    
    border-radius: 10px;
    background-color: #946609;
    display: block;
    margin:auto;
}
.form{
    margin:auto;
    width:300px;
    background-color: #0064FA;
    padding: 20px 0;
    border-radius: 20px;
}
.label{
    display: block;
    margin: auto;
    width:250px;
}
@keyframes aparecer {
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes deslizar {
    from{transform:translatex(-100px);}

    to {transform:translatex(0);}
}
@media(max-width:550px){
    .biografia{
        display:block;
    }
    .perfil{
        margin:auto;
        width:300px;
    }
}