.hiperLink{
    text-decoration:none;
    margin:35px;
    width:360px;
    color:black;
    
}
.foto {
    display:block;
    margin: auto;
    border-radius: 20px;
    transition-duration: 1s;
}
.hiperLink p{
    text-align: center;
}

