.containerSlide{
width: 300px;
overflow:hidden;
height:300px;
position: relative;

}
.slider{
    transition: 1s;
    
}
#botaoEsq{
    position: absolute;
    left:0;
    top:0;
}

.containerSlide img{
    width:300px;
    object-fit: cover;
    height: 300px;
    
    display: inline-block;
}