.containerSlide{
    margin:0 auto;
    max-width:500px;
    max-height: 270px;
    background-color: coral;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.botao{
    /*height:45vw;*/
    width:clamp(30px,70%,100px);
    max-height:225px;
    height: 100%;
    margin:0;
    padding: 0;
    vertical-align: top;
    color:white;
    background-color: /*rgba(0, 0, 0, 0.794)*/#0064FA;
    /*width:50px;*/
    cursor: pointer;
    border-radius: 20px;
}
.foto{
    
    border-radius: 20px;
}
.containerFoto{
    margin: 0 20px;
    /*width:60vw;*/
    /*max-width:300px;*/
    display: inline-block;
}
