.containerSlide{
    margin:0 auto;
    width:400px;
    
}

.botao{
    height:45vw;
    max-height:225px;
    margin:0;
    padding: 0;
    vertical-align: top;
    color:white;
    background-color: rgba(0, 0, 0, 0.794);
    width:50px;
    cursor: pointer;
}
.containerFoto{
    
    width:60vw;
    max-width:300px;
    display: inline-block;
}
