:root{
  --cor-div:#c5dbb7;
}

.principal{ 
  background-color:#ebeff5 ; 
  padding: 0;
  margin:0;    
    }
  
    .container { 
    max-width: 1000px;
    margin: 0 auto;
    padding:0 2%;
    
    }
    .container h1{
      text-align: center;
      
    }
    .foto-principal{
    width: 250px;    
    }  
  
    .container-baixo {
    
    /*width:100%;*/
    
    margin:0;
   
    }
.divisor-artigo{
  width:100%;
  height:250px;
  background-color: var(--cor-div);
}

      /*#9466094d*/ 
   .artigo{
   display:grid;
   gap:20px;
   margin: 40px 0;
    padding: 20px;
   }
   .artigo1{
    grid-template-areas: 'imagem imagem  texto';
   }
   .artigo2{
    grid-template-areas: 'texto imagem imagem';
   }
  .artigo h3{
   text-align:center; 
  }
  .ordem1{
    order: 1;
  }
  .ordem2{
    order: 2;
  }
  .artigo-texto{
    grid-area: texto;
  }
  .imagem-artigo{
    grid-area: imagem;
  }
    .imagem-principal {
    width: 30px;
     }
@media(max-width:700px){
  .artigo{
    display: block;
  }
}
        
         
     